@import "../../styles/variaveis";
$corButtonSubmit: #FF9666;
.form_label {
    color: $corTexto;
}

.login_form {
    background-color: $corBgColorPrincipal;
    align-items: center;
    display: flex;
    flex-direction: column;
    h2 {
        color: $corTexto;
    }
}

.conteudo {
    width: 100vw;
    height: 100vh;
    background: $corBgColorPrincipal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.submit_button {
    border: 0 !important;
    background-color: $corButtonSubmit !important;
    padding: 5px 50px !important;
}