@import '../../styles/importer';
.loader {
    animation: loading 1s linear infinite;
    border: 6px solid $corBgScrollbar;
    border-top-color: $corAzulPrimarioButtonLogin;
    border-radius: 25px;
    @keyframes loading {
        to {
            transform: rotate(1turn);
        }
    }
}