@import "../../styles/importer.scss";
@mixin btn {
    @include pxy(2, 8);
    border: 0;
    width: 160px;
    color: $corTexto;
    border-radius: 10px;
}

.option_paragraph {
    margin-top: 5px;
    padding: 5px;
    font-size: 14px;
    width: 100%;
    &:hover {
        background-color: $corAzulPrimarioButtonLogin;
        cursor: pointer;
        color: $corBranco;
    }
}

.novo {
    @include btn;
    p {
        margin: 0;
        text-align: center;
    }
    background: $corBgModalButton;
    &:hover {
        background: $corBgBody;
    }
}

.submit {
    @include btn;
    margin-left: 20px;
    background: $corBgColorPrincipal;
    &:hover {
        background: $corBgBody;
    }
}

.active {
    max-height: 240px !important;
    opacity: 1 !important;
    overflow-y: scroll !important;
}

.select_box .options_container::-webkit-scrollbar {
    width: 8px;
    background: #0d141f;
    border-radius: 0 8px 8px 0;
}

.select_box .options_container::-webkit-scrollbar-thumb {
    background: #525861;
    border-radius: 0 8px 8px 0;
}

.option {
    .radio {
        display: none;
    }
}

.option {
    padding: 8px 24px;
    cursor: pointer;
}

.selected {
    background: #002933;
    border-radius: 8px;
    margin-bottom: 8px;
    cursor: pointer;
    color: #f5f6fa;
    position: relative;
    order: 0;
}

.option:hover {
    background: #414b57;
}

.input {
    width: 100%;
    background: $corBgColorPrincipal;
    color: #f5f6fa;
}