.loader {
    margin: 40px 0;
    display: flex;
    justify-content: center;
}

.table {
    width: 100%;
}

.remover_item {
    color: gray;
    text-decoration: underline;
    border: 0;
    background-color: transparent;
}