@import '../../../styles/importer';
$corInputBorder: $corAzulSecundario;
$corlabel: #747476;
@mixin btn {
    @include pxy(2, 8);
    border: 0;
    width: 160px;
    color: $corTexto;
    border-radius: 10px;
}

.active {
    max-height: 240px !important;
    opacity: 1 !important;
    overflow-y: scroll !important;
}

.select_box .options_container::-webkit-scrollbar {
    width: 8px;
    background: #0d141f;
    border-radius: 0 8px 8px 0;
}

.select_box .options_container::-webkit-scrollbar-thumb {
    background: #525861;
    border-radius: 0 8px 8px 0;
}

.select_box {
    display: flex;
    flex-direction: column;
    width: 100%;
    .options_container {
        background: #002933;
        color: #f5f6fa;
        width: 100%;
        max-height: 0;
        transition: all 0.4s;
        border-radius: 8px;
        opacity: 0;
        overflow: hidden;
        order: 1;
    }
    .option {
        .radio {
            display: none;
        }
    }
}

.option,
.selected {
    padding: 8px 24px;
    cursor: pointer;
}

.selected {
    background: #002933;
    border-radius: 8px;
    margin-bottom: 8px;
    cursor: pointer;
    color: #f5f6fa;
    position: relative;
    order: 0;
}

.selected::after {
    font-size: large;
    content: "\2304";
    position: absolute;
    width: 32px;
    right: 0px;
    top: 1px;
    height: 100%;
    transition: all 0.4s;
}

.select_box .option:hover {
    background: #414b57;
}

.select_box label {
    cursor: pointer;
}

.input {
    width: 100%;
    background: $corBgColorPrincipal;
    color: #f5f6fa;
}