@import '../../../styles/importer';
$corInputBorder: $corAzulSecundario;
$corlabel: #747476;
@mixin btn {
    @include pxy(2, 8);
    border: 0;
    width: 160px;
    color: $corTexto;
    border-radius: 10px;
}

.novo {
    @include btn;
    p {
        margin: 0;
        text-align: center;
    }
    background: $corBgModalButton;
    &:hover {
        background: $corBgBody;
    }
}

.submit {
    @include btn;
    margin-left: 20px;
    background: $corBgColorPrincipal;
    &:hover {
        background: $corBgBody;
    }
}

.dropdown {
    display: none;
    padding: 10px;
    z-index: 1000;
    border: 1px solid $corInputBorder;
    border-top: 0;
}

.styled_input {
    background: $corBranco !important;
    border: 1px solid $corInputBorder !important;
    height: 38px;
    padding: 10px;
    @media screen and (max-width: 380px) {
        font-size: 13px;
    }
}

.clear_btn {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: -50px;
    cursor: pointer;
    color: $corBgBody;
}

.styled_label {
    p {
        margin: 0;
        font-size: 16px;
        color: $corlabel;
    }
}

.opcional {
    color: $corlabel;
}

.input_h {
    height: 95px;
}

.styled_input_error {
    border: 1px solid $corError !important;
}

.styled_label_error {
    color: $corError !important;
}

.img_validation {
    display: flex;
    position: relative;
    left: -1.6rem;
}

.error_p {
    font-size: 12px !important;
    line-height: 15px !important;
    color: $corError !important;
}