.login-form {
    background-color: #174C4F;
    align-items: center;
}

.form-label {
    color: #fff
}

.login-form h2 {
    color: #fff
}

.conteudo {
    width: 100vw;
    height: 100vh;
    background: #174C4F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    border: 0 !important;
    background-color: #FF9666 !important;
    padding: 5px 50px !important;
}