@import '../../../styles/importer';
$corRowImpar: #e9faff;

.par {
	background-color: $corCinzaSecundaria;
}

.impar {
	background-color: $corRowImpar;
}

.tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}
