// Cores
$corBgColorPrincipal: #174C4F;
$corBgBody: #404E67;
$corBgLayout: #bec5df;
$corButtonSubmit: #FF9666;
$corTexto: #FFF;
$corPreta: #000;
$corBgColorSecundaria: #3B3A39;
$corAzulPrimarioButtonLogin: #4A77D4;
$corAzulSecundarioButtonLogin: #588FD8;
$bodyFontMobile: 14;
$corBranco: #fff;
$corBgModalButton: #06357a;
$corCinzaSecundaria: #f2f9ff;
$corCinzaPrimaria: #d3d3d3;
$corCinzaTerciaria: #c4c4c4;
$corDisabled: #ccc;
$corBorderInputContador: #a3a3a3;
$corParagrafoFormDireita: #5b6472;
$corAzulSecundario: #1e99f7;
$corAzulPrimario: #0c3bdd;
$corLaranjaTeleSena: #ff6d28;
$corBgButtonSecundaria: #81d169;
$corFgPrimaria: #363636;
$corPreta: #000;
$corBgNavbarCampanhaAtiva: rgba($corAzulSecundario, 0.79);
$corBgScrollbar: #c5ccde;
$corError: #ff3b3b;
// Constantes
$spacer: 0.25rem;
$bodyFont: 16;